body {
	background-color: lightblue;
	margin: auto;
	background: url("images/background4.jpg") repeat top;
}
/* home.html style*/
.active {
    font-weight: bold;
    border: solid 1px white;
}

.list-of-posts {
	padding: 40px;
}

.date-of-post {
	padding: 5px 0 5px 0;
	margin: 0 30%;
	list-style-type: none;
	font-size: 15px;
	font-style: italic;
}

.post-content-part {
	margin: 0 30%;
	font-family: Arial;
	list-style-type: none;
}

.read-more {
	text-decoration: none;
	font-style: italic;
	font-size: 14px;
	color: darkorange;
	margin: 0 60%;
}
.list-of-posts li a{
	margin-left: 30%;
	text-decoration: none;
	font-weight: bold;
	font-family: Arial;
	font-size: 20px;
	color: rgb(224,0,102)

}

.dropbtn {
	width: 90.5%;
	height: 35px;
	text-align: center;
	background-color: darkorange;
	color: white;
	padding: 12px;
	font-size: 22px;
	border: solid 1px;
	margin: 0 0 0 0;
}
.menubar {
	position: fixed;
	width: 20%;
	height: 100%;
	background-color: #111;
}

.dropbtn:hover {
	background-color: rgb(255, 102, 0);
}
.dropdown-content {
	list-style-type: none;
	margin: 22px 0;
	position: relative;
}
.dropdown-content a {
	color: black;
	background-color: rgba(255, 212, 0, 1);
	font-size: 16px;
	padding: 16px 16px;
	text-decoration: none;
	display: block;
	margin: 0 15px;
}

.dropdown-content a:hover {
	background-color: rgba(255, 152, 0, 1);
}

/* post_detail.html style*/
ul {
	margin-top: 0;
}

.title {
	padding-top: 40px;
	margin: 0 30%;
	font-weight: bold;
	font-family: Arial;
	font-size: 20px;
	color: rgb(224,0,102)
}
.published {
	margin: 0 30% ;
	text-align: left;
	color: rgb(0,0,255);
	padding: 5px 0 5px 0;
	font: italic bold 16px Georgia serif;
}
.content {
	margin: 0 30%;
	width: 400px;
	text-align: justify;
	font-family: Arial;
	font-size: 14px;
}