{% extends 'base.html' %}

{% block list_of_posts %}

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'starter_app/posts.css' %}"></link>

<div class="menubar">
    <ul class="dropbtn">Posts
        <li class="dropdown-content">
            {% for post in posts %}
                <a href="{% url 'starter_app:post_detail' post.slug %}"> {{ post.title }}</a>
            {% endfor %}
        </li>
    </ul>
</div>

<p id="welcome">Welcome to my first Django blog site!</p>
{% endblock %}
